autom4te.cache/**
build-aux/**
aclocal.m4
config.*
configure
docker-compose.yml
libtool
Makefile
Makefile.in
stamp-h*
*.la
*.lo
*.o
*.tar.bz2
*.tar.gz
*.tar.xz
.deps
.libs
**/.DS_Store
build-aux
*.lo
*.la
*.5
*.1
*.8
ipkg-*
.built*
.configured_*
.prepared_*
ndm_config.h
.dep_files
ABOUT-NLS
ChangeLog
