*.o
*.lo
.deps
.libs
*.la
*.5
*.1
*.8
*~
ipkg-*
.built*
.configured_*
.prepared_*
Makefile
config.h
config.log
config.rpath
config.status
ndm_config.h
etc/afpd/afpd
etc/cnid_dbd/cnid_dbd
etc/cnid_dbd/cnid_metad
etc/cnid_dbd/dbd
etc/netatalk/netatalk
.dep_files
ABOUT-NLS
ChangeLog
*.xsl
config/afp.conf
config/dbus-session.conf
bin/ad/ad
bin/afppasswd/afppasswd
bin/cnid/cnid2_create
bin/misc/afpldaptest
bin/misc/fce
bin/misc/logger_test
bin/misc/netacnv
doc/manual/manual.xml
autom4te.cache/
config/pam/netatalk
contrib/macusers/macusers
contrib/shell_utils/apple_dump
contrib/shell_utils/asip-status.pl
distrib/config/netatalk-config
distrib/initscripts/netatalk.xml
distrib/initscripts/rc.bsd
distrib/initscripts/rc.debian
distrib/initscripts/rc.gentoo
distrib/initscripts/rc.netbsd
distrib/initscripts/rc.redhat
distrib/initscripts/rc.solaris
distrib/initscripts/rc.suse
distrib/initscripts/service.systemd
libtool
stamp-h1
